{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>タッチナンバー ナンバータッチ</title>
    <link rel="stylesheet" href="{% static 's1.css' %}">
    <link rel="stylesheet" href="{% static 'css/all.css' %}">
<meta name="viewport" content="width=320,
        height=480,
        initial-scale=1.0,
        minimum-scale=1.0,
        maximum-scale=2.0,
        user-scalable=yes" />
</head>



<script>

function changedisp()
    {
      var divmain = document.querySelector("#main");
      var divexp = document.querySelector("#exp");

      divexp.style.display = "none";
      divmain.style.display = "block";
    }

</script>
<body>
    <div id="exp">
        <h1 class="title">タップ</h1>
        <hr>
        <div class="border">
        <p>スマートフォンの画面を軽く触ること</p>
        <img src="{% static 'tap.png' %}">
        <br>

        <button onclick="changedisp()">練習へ進む</button>
        <br>
        <a href="{% url 'text:ret' %}">トップに戻る</a>
        </div>
    </div>

    <div id="main">
    <h1>測定開始を押すとゲームがスタートする</h1>
    <h1>{ゲーム説明}</h1>
        <h1>1~20の数字を順にクリックしてみよう。できるだけ速くクリックすればタイムが短くなるぞ。最速タイムを目指そう</h1>
    <div class="container">
        <div class="numbers">
            <div class="number"></div>
            <div class="number"></div>
        </div>
        <div class="numbers">
            <div class="number"></div>
            <div class="number"></div>
        </div>
        <div class="numbers">
            <div class="number"></div>
            <div class="number"></div>
        </div>
        <div class="numbers">
            <div class="number"></div>
            <div class="number"></div>
        </div>
        <div class="numbers">
            <div class="number"></div>
            <div class="number"></div>
        </div>

        <div class="display">
            <div id="time">000.000</div>
            <div class="startBtn">測定開始</div>
            <div id="endBtn">終了</div>
        </div>

        <div class="numbers">
            <div class="number"></div>
            <div class="number"></div>
        </div>
        <div class="numbers">
            <div class="number"></div>
            <div class="number"></div>
        </div>
        <div class="numbers">
            <div class="number"></div>
            <div class="number"></div>
        </div>
        <div class="numbers">
            <div class="number"></div>
            <div class="number"></div>
        </div>
        <div class="numbers">
            <div class="number"></div>
            <div class="number"></div>
        </div>

    </div>

    <script src="{% static 's1.js' %}"></script>
    <a href="{% url 'text:ret' %}">トップに戻る</a>
    </div>


</body>
</html>
