{% load static %}
<head>
  <script type="text/javascript">
    let once = false;
	window.addEventListener('scroll', function () {

		// ターゲットの画面トップからの距離
		taeget_position = document.querySelector('#target').getBoundingClientRect().top;

		// 画面トップからの距離から画面の高さより小さければ実行する
			if (taeget_position <= window.innerHeight && once !== true) {
				once = true;
				alert(`よくできました`);
			}
	});
  function kotae1()
{
if(f.q1.value == "寿限無") {f.q1.value="○";

changeImage();
}
else{
f.q1.value="×";
changeImage2();}

}


function changeImage() {
      let img = document.getElementById("image_place");
      img.src = '{% static "maru.jpeg" %}';
    }
    function changeImage2() {
      let img = document.getElementById("image_place");
      img.src = '{% static "batu.jpg" %}';
    }

    function changedisp()
    {
      var divmain = document.querySelector("#main");
      var divexp = document.querySelector("#exp");

      divexp.style.display = "none";
      divmain.style.display = "block";
    }

  </script>
  <link rel="stylesheet" href="{% static 'css/all.css' %}">
  <style type="text/css">
  #question {
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  white-space: nowrap;
}



</style>
<meta name="viewport" content="width=320,
        height=480,
        initial-scale=1.0,
        minimum-scale=1.0,
        maximum-scale=2.0,
        user-scalable=yes" />

<title>スクロール</title>
</head>

<div id="exp">

  <h1 class="title">スクロール</h1>
  <hr>
  <div class="border" style="background-color: #fffaf1;">
  <p>指をスマホに触れた状態で上や下に動かす動作</p>
  <button onclick="changedisp()">練習へ進む</button>
  <br>
  <a href="{% url 'text:ret' %}">トップに戻る</a>
  </div>
</div>

<div id="main">
<h1 class="title">
    これは何の文章かな？スクロールしてみよう
</h1>
<hr>

<div class="border" style="background-color: #fffaf1;">
<p id="question">寿限無(じゅげむ)　寿限無(じゅげむ)　五劫(ごこう)のすりきれ　海砂利(かいじゃり)水魚(すいぎょ)の水行末(すいぎょうまつ) 雲来末(うんらいまつ) 風来末(ふうらいまつ)　食(く)う寝(ね)るところに　住(す)むところ　やぶらこうじの　ぶらこうじ　パイポ　パイポ　パイポの　シューリンガン　シューリンガンの　グーリンダイ　グーリンダイの　ポンポコピーのポンポコナの　長久命(ちょうきゅうめい)の長助(ちょうすけ)
    </p>


<div class="block" id="target"><h1>何の文章でしょうか？</h1></div>
<img id="image_place" src={% static 'hatena.jpg' %} alt="サンプル" width="300" height="200">
  <form name="f">
    <input name="q1">
    <input type="button"value="答え合わせ" onclick="kotae1()" >
    </form>
    <a href="{% url 'text:ret' %}">トップに戻る</a>
</div>
</div>

