<head>
  <link rel="stylesheet" href="s3.css">

  <meta name="viewport" content="width=320,
        height=480,
        initial-scale=1.0,
        minimum-scale=1.0,
        maximum-scale=2.0,
        user-scalable=yes" />

<style type="text/css">
  p {
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  white-space: nowrap;
}

</style>
<script type="text/javascript">
function kotae()
{
if(f.q1.value == "寿限無") f.q1.value="○"
else
f.q1.value="×"
}
</script>

</head>
<body>
  <h1>
    これは何の文章かな？スクロールしてみよう
  </h1>
  <p>寿限無(じゅげむ)　寿限無(じゅげむ)　五劫(ごこう)のすりきれ　海砂利(かいじゃり)水魚(すいぎょ)の水行末(すいぎょうまつ) 雲来末(うんらいまつ) 風来末(ふうらいまつ)　食(く)う寝(ね)るところに　住(す)むところ　やぶらこうじの　ぶらこうじ　パイポ　パイポ　パイポの　シューリンガン　シューリンガンの　グーリンダイ　グーリンダイの　ポンポコピーのポンポコナの　長久命(ちょうきゅうめい)の長助(ちょうすけ)
    </p>
    <form name="f">
    <h1>何の文章でしょうか？<input name="q1"></h1>
    <input type="button"value="答え合わせ" onclick="kotae()" >
    </form>
</body>
