<!DOCTYPE html>
{% load static %}
<html lang="ja">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width">
    <title>天気情報</title>
    <link rel="stylesheet" href="{% static 'css/all.css' %}">
</head>


<body>
    <h1 class="title">天気情報</h1>
    <hr>
    <div class="border">
    {{ message | linebreaksbr }}
    <form action="{% url 'text:move_to_gamepage' %}" method="GET">
        {% csrf_token %}
        <input type="text" id="player1" name="player1">
        <input type="image" src="{% static 'click.jpg' %}" name="start_button" width="50" height="50">
    </form>

    <a href="{% url 'text:ret' %}">トップに戻る</a>
    </div>


</body>
</html>
