  {% load static %}

  <head>
<!--<meta charset="UTF-8">
<script type="text/javascript">

var a = 1;
</script>
-->
<style>


    .body {
        font-size: 75px;
    }

table {
 text-align: center;
 border-collapse: collapse;
 border:1px solid;
}
th {
 padding: 10px;
 background-color: #e3faf8;
 border: dashed 1px #748ca5;
}

td {
 padding: 10px;
 border: dashed 1px #748ca5;
}
tr:nth-child(odd) {
 background: #e9faf9;
}
</style>
<meta name="viewport" content="width=320,
        height=480,
        initial-scale=1.0,
        minimum-scale=1.0,
        maximum-scale=2.0,
        user-scalable=yes" />
</head>
<link rel="stylesheet" href="{% static 'css/all.css' %}">
<body>
  <h1 class="title">ピクトグラム問題</h1>

  <script> k=0
  function plus(){
    k++;
  }</script>

<div class="border">
<table border="1">
  {% for q in question %}
<tr><th><a href="{% url 'text:text2' forloop.counter %}">問題_{{ forloop.counter }}  </a></th></tr>

{% if  q.is_used == True %}
<tr><td><p class="body"><font color="red">〇</font></p></td></tr>
<script>


plus()
</script>

{% else %}
<tr><td><p class="body">×</p></td></tr>

{% endif %}

<!--
<input type="button"value="答え合わせ" onclick="kotae1()" >
<img id="image_place" src={% static 'hatena.jpg' %} alt="サンプル" width="300" height="200">

-->
{% endfor %}

{% load static %}

  <h1> 正解数<font color="red"><span id="input"></span>/9</h1></font>
  <script>
      document.getElementById('input').innerHTML = k;
  </script>
  </table>
  <a href="{% url 'text:ret' %}">トップに戻る</a>
</div>
</body>



<!--
<script type="text/javascript">

function kotae1()
{
if({{ q.is_used }} == True) {

changeImage();
}
else{
changeImage2();}

}


function changeImage() {
      let img = document.getElementById("image_place");
      img.src = '{% static "maru.jpeg" %}';
    }
    function changeImage2() {
      let img = document.getElementById("image_place");
      img.src = '{% static "batu.jpg" %}';
    }

</script>
-->
